{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "version": "1.0.0",
    "description": "API documentation for the application."
  },
  "servers": [
    {
      "url": "https://theworknow.com/backend/api/v1",
      "description": "Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/signup": {
      "post": {
        "summary": "Sign up a new user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Log in a user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/loginUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User logged in successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/login-with-otp": {
      "post": {
        "summary": "Log in with OTP",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/loginWithOTPUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User logged in successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "summary": "Forgot password",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forgot password email sent successfully"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/jobs/listing": {
      "post": {
        "summary": "Create a job listing",
        "tags": ["Jobs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobListingDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created successfully"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Get all job listings",
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "description": "Job fetched successfully"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/jobs/listing/{id}": {
      "get": {
        "summary": "Get a job listing by ID",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Job fetched successfully"
          },
          "404": {
            "description": "Job not found"
          }
        }
      },
      "patch": {
        "summary": "Update a job listing by ID",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobListingDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated successfully"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete a job listing by ID",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted successfully"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    },
    "/jobs/apply/{jobId}": {
      "post": {
        "summary": "Apply for a job",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID to apply for"
          }
        ],
        "responses": {
          "201": {
            "description": "Application submitted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Job not found"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/jobs/apply/{id}": {
      "post": {
        "summary": "Apply for a job",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Job applied successfully"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    },
    "/jobs/applicants": {
      "get": {
        "summary": "Get all applied Jobs For Job Seeker",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number (starts from 1)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Applied application fetched successfully"
          },
          "404": {
            "description": "Applications not found"
          }
        }
      }
    },
    "/jobs/job-types": {
      "get": {
        "summary": "Get all job types available",
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "description": "Job Types fetched successfully"
          },
          "404": {
            "description": "Job Types not found"
          }
        }
      }
    },
    "/jobs/payment-types": {
      "get": {
        "summary": "Get all payment types available",
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "description": "Payment Types fetched successfully"
          },
          "404": {
            "description": "Payment Types not found"
          }
        }
      }
    },
    "/jobs/job-with-applicants": {
      "get": {
        "summary": "Get all jobs with applicants for Job Provider",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number (starts from 1)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs with applican fetched successfully"
          },
          "404": {
            "description": "Jobs not found"
          }
        }
      }
    },
    "/jobs/job-applications": {
      "get": {
        "summary": "Get all jobs with applicants details for Job Provider",
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number (starts from 1)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs with applican fetched successfully"
          },
          "404": {
            "description": "Jobs not found"
          }
        }
      }
    },
    "/aws/upload": {
      "post": {
        "summary": "Upload a file to AWS S3",
        "tags": ["AWS"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/aws/file/{key}": {
      "get": {
        "summary": "Get a file from AWS S3",
        "tags": ["AWS"],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File key"
          }
        ],
        "responses": {
          "200": {
            "description": "File fetched successfully"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/ping": {
      "get": {
        "summary": "Ping the server",
        "tags": ["App"],
        "responses": {
          "200": {
            "description": "Server is running"
          }
        }
      }
    },
    "/jobs/listing/shifts": {
      "get": {
        "summary": "Get user job listing shifts data",
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "description": "User job listing shifts data fetched successfully"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/auth/login-with-google": {
      "post": {
        "summary": "Log in with Google",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/loginWithGoogleUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User logged in successfully with Google"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "CreateUserDto": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "example": "user@example.com"
          },
          "phone_number": {
            "type": "integer",
            "example": 1234567890
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 20,
            "example": "password123"
          },
          "role": {
            "type": "string",
            "enum": ["job_provider", "job_seeker"],
            "example": "job_seeker"
          }
        }
      },
      "loginUserDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "example": "password123"
          },
          "role": {
            "type": "string",
            "enum": ["job_provider", "job_seeker"],
            "example": "job_seeker"
          }
        }
      },
      "ForgotPasswordDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "user@example.com"
          }
        }
      },
      "CreateJobListingDto": {
        "type": "object",
        "required": [
          "jobTitle",
          "jobType",
          "industry",
          "shiftDuration",
          "shiftStartsAt",
          "shiftEndsAt",
          "workLocation",
          "description",
          "amount",
          "paymentType",
          "preferredShift",
          "matchScore",
          "enableSmartRecommendations",
          "autoShortlistCandidates",
          "experienceLevel",
          "education",
          "requiredSkills"
        ],
        "properties": {
          "jobTitle": {
            "type": "string",
            "example": "Software Engineer"
          },
          "jobType": {
            "type": "string",
            "example": "Full-time"
          },
          "industry": {
            "type": "string",
            "example": "IT"
          },
          "shiftDuration": {
            "type": "string",
            "example": "8 hours"
          },
          "shiftStartsAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-01T09:00:00Z"
          },
          "shiftEndsAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-01T17:00:00Z"
          },
          "workLocation": {
            "type": "string",
            "example": "Los Angeles"
          },
          "description": {
            "type": "string",
            "example": "Job description here"
          },
          "amount": {
            "type": "number",
            "example": 2000
          },
          "paymentType": {
            "type": "string",
            "enum": ["hourly", "contractual"],
            "example": "hourly"
          },
          "preferredShift": {
            "type": "string",
            "example": "Day"
          },
          "matchScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "example": 80
          },
          "enableSmartRecommendations": {
            "type": "boolean",
            "example": true
          },
          "autoShortlistCandidates": {
            "type": "boolean",
            "example": false
          },
          "experienceLevel": {
            "type": "string",
            "example": "Mid-Level"
          },
          "education": {
            "type": "string",
            "example": "Bachelor's Degree"
          },
          "requiredSkills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["JavaScript", "Node.js", "React"]
          }
        }
      },
      "UpdateJobListingDto": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "Updated Job Title"
          },
          "description": {
            "type": "string",
            "example": "Updated job description"
          }
        }
      }
    }
  }
}
